{% extends 'noticias/index.html' %} 


{% load static %}

{% block title %}
Busqueda 
{% endblock %} 

{% block content %}

<h1>Buscar Noticias</h1>

<form method="get">
   
    {{ form.as_p }}

    <button type="submit">Buscar</button>
</form>

{% if results %}

    {% for noticia in results %}
    <div class="card rounded-0 mt-3" style="width: 10rem">
    <div class="card-body">
        <h5 class="card-title">{{noticia.title}}</h5>
        Autor: {{noticia.author}}, contenido: {{noticia.content}}. Publicado el
        {{noticia.published_at}}
    </div>
    </div>
    {% endfor %} 

{% else %}

    <p>NO HAY RESULTADOS</p>

{% endif %}





{% endblock %}
