<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} - Noticias</title>

    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'noticias/css/bootstrap.min.css' %}"
    />

  </head>
  <body>
    <nav>
      <div class="divs">
        <ul>
          <li>
            <a href="{% url 'index' %}"> Home</a>
          </li>
          <li>
            <a href="{% url 'lista' %}"> Lista</a>
          </li>
          <li>
            <a href="{% url 'busqueda' %}"> Buscar</a>
          </li>
        </ul>
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
